* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'jost';
    background: #E5E5E5;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px 80px;
    height: 100vh;
    background-color: #058ACC;
    background-image: url("../images/image\ 43.png");
    background-size: cover;
    background-blend-mode: overlay;
}

.icon-img {
    width: 151px;
    height: 61px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    word-spacing: 40px;
    letter-spacing: 0.2px;
    
}

.last-link {
    word-spacing: 0px;
}

.hero-para {
    width: 800px;
    font-weight: 500;
    font-size: 74px;
    line-height: 106px;
    color: #FFFFFF;
}

.hero-btn {
    padding: 12px 78px 12px 78px;
    background-color: #CEA93A;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    align-self: center;
}

.aboutus-section {
    padding: 90px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us {
    margin-right: 140px;
}

.about-us > h1 {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 65px;
    line-height: 70px;
    letter-spacing: 0.2px;
    color: #081A2B;
}

.about-us > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: #081A2B;
}

.cards-section {
    padding: 90px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-head > h1 {
    align-self: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.2px;
    color: #081A2B;
}
.card-head > h2 {
    align-self: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;
}

.cards {
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
}

.card-1 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 18px solid #EB7B37;
}

.card-1 > h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
}

.card-1 > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
} 

.card-2 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 18px solid #FAD606;
}

.card-2 > h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
}

.card-2 > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
} 

.card-3 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 18px solid #C6A136;
}

.card-3 > h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
}

.card-3 > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
} 

.card-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 18px solid #A2B8C1;
}

.card-4 > h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
}

.card-4 > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
} 

.margin-left {
    margin-left: 26px;
}

.cards-section > button {
    margin-top: 101px;
    padding: 12px 78px 12px 78px;
    background-color: #0D89CA;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    align-self: center;
}